root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
# 不同操作系统的换行转译是不同的 cslf是“\r\n”  lf是\n
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false