.terms {
  width: 100%;
}

.terms {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.terms_content {
  width: calc(100% - 250px);
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 15px 0px rgba(222, 222, 222, 0.2);
  border-radius: 8px;
  // padding: 0 37px;
  display: flex;
  flex-direction: column;

  .terms_html {
    flex: 1;
    overflow-y: auto;
    width: 100%;
    padding: 0 37px;
    color: #333333;

    div {
      font-size: val(--font-size);
      line-height: 1.7em;
    }
    tbody{
      tr:nth-child(2){
        color: #666;
      }
      &>td{
        color: #666;
      }
    }
  }

  .terms_agree {
    text-align: right;
    padding: 18px 37px;
    border-top: 1px dashed #f3f3f3;

    .terms_sign {
      font-size: 0;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      span {
        font-size: var(--font-size);
        font-weight: 400;
        color: #333333;
        line-height: 23px;
      }

      div {
        display: inline-block;
        min-width: 160px;
        font-size: 24px;
        line-height: 24px;
        padding: 5px 5px;
        height: 35px;
        text-align: center;
        border-bottom: 1px solid #000000;
      }
    }

    .agree_btn {
      font-size: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 15px;
        margin-right: 10px;
      }

      span {
        font-size: 12px;
        font-weight: 500;
        color: #0670ff;
        line-height: 17px;
        text-align: center;
      }

      div {
        display: inline-block;
        height: 15px;
        width: 15px;
      }
    }
  }
}

.terms_nav {
  margin-left: 30px;
  width: 220px;
  height: 360px;
  background: #ffffff;
  box-shadow: 0px 1px 15px 2px rgba(222, 222, 222, 0.2);
  border-radius: 8px;
  padding: 15px 25px;
  color: #333333;
  .terms_nav_title {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    line-height: 22px;
    margin-bottom: 15px;
  }

  .termas_nav_item {
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    // margin-top: 10px;
    .nav1 {
      position: relative;
      cursor: pointer;
      padding-left: 12px;
      font-size: var(--font-size);
      line-height: 1.5em;
      margin-bottom: 5px;

      p {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #999999;
      }

      &:hover {
        color: var(--sle-text-color);

        &::before {
          background: var(--sle-text-color);
        }
      }

      &:active {
        color: var(--sle-text-color);
      }
    }

    .nav2 {
      p {
        padding-left: 12px;
        margin-bottom: 5px;
        font-size: var(--font-size);
        line-height: 1.5em;
        cursor: pointer;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
          color: #0670ff;
        }

        &:active {
          color: #0670ff;
        }
      }
    }

    .termas_nav_item-active {
      color: #0670ff;

      &::before {
        background: #0670ff;
      }
    }
  }
}

h1 {
  width: 100%;
  font-weight: bolder;
  color: var(--text-color);
  text-align: center;
  // padding-top: 15px;
  text-shadow: 0px 1px 15px rgba(222, 222, 222, 0.2);
  border-bottom: 1px solid #f3f3f3;
  padding: 13px 0;
  margin: 0;
  // margin-bottom: 15px;
  // height: 160px;
  font-size: 20px;
  margin-bottom: 8px;
}

.h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
}

.h4 {
  font-size: var(--font-size);
  font-weight: bold;
  line-height: 28px;
  text-indent: -8px;
}

div {
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 23px;
}

.wrap {
  display: flex;
}

.text-indent {
  transform: translateX(-1.5em);
}

.pl1 {
  padding-left: 1em;
}

.pl2 {
  padding-left: 2.65em;
}
