@import "@/assets/css/element.scss";
@import "./library.scss";

.scrollbar-css {
  &::-webkit-scrollbar {
    // 滚动条的背景
    width: 16px;
    background: inherit;
    height: 14px;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    border-radius: 999px;
    width: 20px;
    border: 5px solid transparent;
  }

  &::-webkit-scrollbar-track {
    box-shadow: 1px 1px 5px #fff;
  }

  &::-webkit-scrollbar-thumb {
    //滚动条的滑块样式修改
    width: 20px;
    min-height: 20px;
    background-clip: content-box;
    box-shadow: 0 0 0 5px #999 inset;
  }
}



.sign-contain {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  color: #333;
  .sign-tit {
    font-size: 14px;
  }

  .sign-name {
    font-size: 22px;
    // color: red !important;
    position: relative;
    width: 146px;
    text-align: center;
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: #000;

    }
  }
}
