.el-input__inner,
.el-radio,
.el-table,
thead,
.el-timeline-item__content {
  color: var(--text-color) !important;
}

.el-timeline {
  .el-timeline-item__timestamp {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);

    &.is-top {
      padding: 0;
      margin-bottom: 20px;
      padding-top: 2px;
    }

  }

  .el-timeline-item__node {
    background: #fff;
    border: 4px solid var(--sle-text-color) !important;
  }

  .el-timeline-item__node--normal {
    width: 14px;
    height: 14px;
  }
}

.el-radio {
  &.is-checked {
    .el-radio__label {
      color: inherit;
    }

    .el-radio__inner {
      background: #fff;

      &::after {
        width: 7px;
        height: 7px;
        background-color: var(--sle-text-color)
      }
    }
  }
}

.el-button {
  font-size: var(--font-size) !important;
  border-radius: 1px !important;
}

.el-table,
.el-input {
  font-size: var(--font-size) !important;
}

.el-radio-group .el-radio__label {
  font-size: inherit;
}
