h3{
  padding-top: 30px;
  font-weight: bold;
  font-size: 16px;
  color: #333;
}
.flex-start{
  display: flex;
  align-items: center;
  justify-content: start;
}
.flex-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-end{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.box-contain {
  /deep/.b-header{
    margin-bottom: 20px;
  }
}

.sign {
  width: 145px;
  height: 30px;
  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid;
}