// UI 重写
/deep/ .el-input {
  height: 24px;
  width: 184px;
  .el-input__inner {
    height: 24px;
    line-height: 24px;
    padding: 0 5px;
  }
}
/deep/ .el-radio-group {
  .el-radio {
    min-width: 80px;
    margin-right: 0;
  }
}
/deep/ .el-date-editor{
  .el-input__inner{
    width: 184px;
    padding-left: 30px;
  }
}
/deep/ i.el-input__icon.el-icon-date{
  line-height: 24px;
}

.box-contain {
  .form-box {
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        width: 33.33%;
        padding: 10px 0;
        // padding-left: 15px;
        & > span {
          display: inline-block;
          min-width: 88px;
          text-align: right;
          margin-right: 15px;
        }
      }
    }
  }
  .table-box {
  }
}
