.company-approval {
  font-size: var(--font-size);
  font-weight: 400;
  background-color: var(--main-color);
  .box-contain {
    height: 100%;
  }
  .salesman {
    .sContent {
      & > p {
        margin: 10px 0 10px 20px;
        line-height: 20px;
      }
      .txt-sketch {
        color: #f13e3e;
      }
      .txt-content {
        line-height: 28px;
        color: #595959;
        > span {
          font-weight: 600;
          text-decoration: underline;
        }
      }
      .ul-content {
        line-height: 20px;
        & > li > span {
          margin: 10px 10px 10px 20px;
          display: inline-block;
          width: 126px;
          text-align: right;
        }
        .li-flex {
          display: flex;
          align-items: flex-start;
        }
        .clearWidth {
          display: inline;
        }
        .txt-box {
          display: inline-block;
          flex: 1;
          padding-top: 10px;
          .box-content {
            margin-bottom: 10px;
            color: var(--text-color);
            > span {
              color: #999999;
            }
          }
          /deep/ .el-radio {
            display: block;
            margin-bottom: 10px;
            line-height: 20px;
          }
        }
        // element-UI重写
        /deep/ .el-input {
          height: 24px;
          width: 184px;
          .el-input__inner {
            height: 24px;
            line-height: 24px;
            padding: 0 5px;
          }
        }
        /deep/.el-radio__label{
          font-size: var(--font-size);
        }
      }
    }
    .sign {
      text-align: right;
      margin-top: 20px;
      color: var(--text-color);
      font-weight: 600;
      > p {
        margin-bottom: 9px;
      }
      .sign-name {
        display: inline-block;
        border-bottom: 1px solid var(--text-color);
        width: 145px;
        margin-left: 7px;
        text-align: center;
        font-size: 16px;
      }
    }
  }
}