// UI 重写
/deep/ .el-date-editor {
  .el-input__inner {
    width: 184px;
    padding-left: 30px;
  }
}
/deep/ i.el-input__icon.el-icon-date {
  line-height: 24px;
}

// 时间线
/deep/ .el-timeline {
  font-size: inherit;
  .el-timeline-item {
    &:last-child {
      display: none;
    }
  }
  .el-timeline-item__node {
    background: #fff;
    border: 2px solid var(--sle-text-color);
  }
  .el-timeline-item__wrapper {
    padding-left: 20px;
  }
  .el-timeline-item__timestamp {
    font-size: 16px;
    color: inherit;
    font-weight: 600;
    padding-top: 2px;
    margin-bottom: 20px;
    color: var(--sle-text-color);
  }
}

// 单选框
/deep/ .el-radio-group {
  width: 100%;
  height: 100%;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
}
// 输入框
/deep/ .el-input {
  .el-input__inner {
    height: 100%;
    border: none;
    padding: 0 5px;
  }
}