// UI 重写
/deep/ .el-date-editor {
  .el-input__inner {
    width: 184px;
    padding-left: 30px;
  }
}
/deep/ i.el-input__icon.el-icon-date {
  line-height: 24px;
}

// 时间线
/deep/ .el-timeline {
  font-size: inherit;
  .el-timeline-item {
    &:last-child {
      display: none;
    }
  }

  .el-timeline-item__wrapper {
    padding-left: 20px;
  }
}

// 单选框
/deep/ .el-radio-group {
  width: 100%;
  height: 100%;
  padding: 0 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: inherit;
  .el-radio {
    margin-right: 10px;
  }
  .el-radio__label {
    padding-left: 7px;
  }
}
// 输入框
/deep/ .el-input {
  width: 100%;
  .el-input__inner {
    height: 100%;
    width: 100%;
    border: none;
    padding: 0 5px;
  }
}
/deep/ .el-select {
  width: 100%;
}

// 按钮
/deep/ .el-button {
  height: 30px;
  padding: 5px 20px;
}

// 下拉框
/deep/ .el-input__icon {
  line-height: 30px;
}
